// button x1
table(align='center' border='0' cellpadding='0' cellspacing='0' width='100%')
	tbody
		tr
			td.em_width(width='20')  
			td(valign='top')
				table(align='center' border='0' cellpadding='0' cellspacing='0' width='100%')
					tbody
						tr
							td.em_height(bgcolor='#FFFFFF' height='15' style='font-size:1px; line-height:1px;')
						tr
							td
								table(align='center' border='0' cellpadding='0' cellspacing='0' style='background-color:#ffc627;' width='165')
									tbody
										tr
											td(align='center' height='32' style='font-family:Helvetica, Arial, sans-serif; font-size:14px;color:#333333; text-align:center; border-top: 4px solid #ffcf4d; border-bottom: 4px solid #ffbb00;' valign='middle')
												a(href='https://www.adma.com.au/global-forum?utm_source=ACE&utm_medium=SolusEDM&utm_campaign=ACE19' name='Tickets CTA' style='color: #333333; text-decoration: none; font-weight: bold;' target='_blank' xt='SPCLICK') Click me!
						tr
							td.em_height(bgcolor='#FFFFFF' height='20' style='font-size:1px; line-height:1px;')
			td.em_width(width='20')  
// /button x1
