// full image
table(align='center' border='0' cellpadding='0' cellspacing='0' width='100%')
  tbody
    tr
      td(align='center')
        a#Hyperlink_20170116_151918415(href='https://www.adma.com.au/events/2019/global-forum/buy-tickets?utm_source=ACE&utm_medium=SolusEDM&utm_campaign=ACE19' name='Banner image' target='_blank')
          img(alt='Banner image' border='0' height='330' src='https://via.placeholder.com/600x350' style='display: block; height: auto;width:100%;max-width:600px;' title='Banner image' width='600')
// /full image
