// header
table(align='center', border='0', cellpadding='0', cellspacing='0', width='100%')
  tbody
    tr
      td.em_height(height='20', style='font-size:1px; line-height:1px;').
        &nbsp;
    tr
      td.em_left(style='font-family:Helvetica, Arial, sans-serif; font-size:21px;line-height:25px;color:#494949; text-align:center;font-weight:bold;')
        span(style='color:#ffc627;font-size:24px;') &ldquo;&nbsp;
        span(style='color:#000000;') Sed ultricies posuere nunc, sit amet dapibus lacus commodo vel. In orci nibh, egestas et erat in, aliquam bibendum lorem.
        span(style='color:#ffc627;font-size:24px;') &nbsp;&rdquo;
    tr
      td.em_height(height='10', style='font-size:1px; line-height:1px;') &nbsp;
    tr
      td.em_left(style='font-family:Helvetica, Arial, sans-serif; font-size:14px;line-height:18px;color:#494949; text-align:right;') &ndash; Donec Vestibulum, Accopharetra Interdum Co.
    tr
      td.em_height(height='20', style='font-size:1px; line-height:1px;') &nbsp;
// /header