extends default

append content
  // sponsor intro
  table(align='center', border='0', cellpadding='0', cellspacing='0', width='100%')
    tbody
      tr
        td
          table(align='center', border='0', cellpadding='0', cellspacing='0', width='100%')
            tbody
              tr
                td(height='10', style='font-size:1px; line-height:1px;')  
              tr
                td(align='left', style='font-family: Helvetica, Arial, sans-serif; font-size:11px; text-align:center; line-height: 12px; padding:16px;')
                  | On occasion, Digital + Technology Collective provides the opportunity for partners to communicate industry-relevant messages and special offers to our valued subscribers. You are receiving this email as you are subscribed to Digital + Technology Collective. 
              tr
                td(height='10', style='font-size:1px; line-height:1px;')  
  // /sponsor intro