meta(content='text/html; charset=utf-8' http-equiv='Content-Type')
meta(content='telephone=no' name='format-detection')
meta(content='width=device-width, initial-scale=1.0' name='viewport')
meta(content='IE=edge' http-equiv='X-UA-Compatible')
title Digital + Technology Collective Newsletter
style(type='text/css').
	body{-webkit-text-size-adjust:100%!important;-ms-text-size-adjust:100%!important;-webkit-font-smoothing:antialiased!important;}
	img{border:0!important;outline:none!important;}
	table{border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0;}
	td{border-collapse:collapse;mso-line-height-rule:exactly;}
	a,span{mso-line-height-rule:exactly;}
	a {color:#{themeColor}; text-decoration:none;}
	.ExternalClass *{line-height:100%;}
	a.MsoHyperlink{mso-style-priority:99;color:inherit;}
	span.MsoHyperlink{mso-style-priority:99;color:inherit;}
	span.MsoHyperlinkFollowed{mso-style-priority:99;color:inherit;}
	.em_white a{text-decoration:none!important;color:#ffffff!important;}
	p {margin:0;}
	@media only screen and (min-width:480px) and (max-width:600px){
	table[class=em_wrapper]{width:100%!important;}
	td[class=em_w250]{width:300px!important;}
	img[class=em_full_img]{width:100%!important;height:auto!important;max-width:none!important;}
	td[class=em_hide],table[class=em_hide],span[class=em_hide],br[class=em_hide]{display:none!important;}
	td[class=em_width]{width:10px!important;}
	td[class=em_txt]{font-size:20px!important;line-height:23px!important;}
	td[class=em_pad_top]{padding-top:20px!important;}
	td[class=em_height]{height:20px!important;}
	td[class=em_height1]{height:10px!important;}
	td[class=em_align_cent]{text-align:center!important;}
	td[class=em_left]{text-align:left!important; font-size:24px!important; line-height:26px!important;}
	td[class=em_align_cent1]{text-align:center!important;font-size:11px!important;line-height:14px!important;}
	td[class=em_pad]{padding-left:10px!important;}
	td[class=em_side]{padding-left:10px!important;padding-right:10px!important;}
	div[class=hide_disktop]{display:table!important;float:none!important;width:100%!important;overflow:visible!important;height:auto!important;}
	table[class=em_tbl_312]{width:312px!important;}
	}
	@media only screen and (max-width:480px){
	table[class=em_wrapper]{width:100%!important;}
	td[class=em_w250]{width:250px!important;}
	td[class=em_hide],table[class=em_hide],span[class=em_hide],br[class=em_hide]{display:none!important;}
	td[class=em_txt]{font-size:20px!important;line-height:23px!important;}
	img[class=em_full_img]{width:100%!important;height:auto!important;max-width:none!important;}
	td[class=em_width]{width:10px!important;}
	td[class=em_height]{height:20px!important;}
	td[class=em_height1]{height:10px!important;}
	td[class=em_pad_top]{padding-top:20px!important;}
	td[class=em_align_cent]{text-align:center!important;}
	td[class=em_left]{text-align:left!important; font-size:24px!important; line-height:26px!important;}
	td[class=em_align_cent1]{text-align:center!important;font-size:11px!important;line-height:14px!important;}
	td[class=em_pad]{padding-left:10px!important;}
	td[class=em_side]{padding-left:10px!important;padding-right:10px!important;}
	div[class=hide_disktop]{display:table!important;float:none!important;width:100%!important;overflow:visible!important;height:auto!important;}
	img[class=em_w140]{width:80px!important;height:auto!important;}
	img[class=em_w150]{width:110px!important;height:auto!important;}
	img[class=em_w40]{width:40px!important;height:auto!important;}
	table[class=em_tbl_312]{width:312px!important;}
	}
meta(content='noindex,nofollow' name='robots')
meta(content='Digital + Technology Collective Newsletter' property='og:title')