extends base

append content

	+gutters()
		include modules/intro
		include modules/spacer-v
		include modules/content-2
		include modules/content-2
		include modules/content-2
		include modules/content-2
		include modules/content-2

	include modules/full-image
	include modules/button-1
