extends base

append content
	include modules/full-image
	+gutters()
		include modules/full-image
	include modules/full-image
	include modules/full-image
	+gutters()
		include modules/heading
		+courseTable2(8)
		include modules/heading
		+courseTable2(15)
	+spacerV()
	include modules/button-1