extends base

append content
	include modules/full-image

	+gutters()
		include modules/intro
	include modules/button-1

	+gutters()
		include modules/content-x2

	include modules/header
	+gutters()
		include modules/course-table
	include modules/button-1