// button x1
table(align='center' border='0' cellpadding='0' cellspacing='0' width='100%')
	tbody
		tr
			td.em_width(width='20')  
			td(valign='top')
				table(align='center' border='0' cellpadding='0' cellspacing='0' width='100%')
					tbody
						tr
							td.em_height(bgcolor='#FFFFFF' height='15' style='font-size:1px; line-height:1px;')
						tr
							td
								table(align='center' border='0' cellpadding='0' cellspacing='0' style='background-color:#CC0000;' width='165')
									tbody
										tr
											td(align='center' height='32' style='font-family:Helvetica, Arial, sans-serif; font-size:14px;color:#FFFFFF; text-align:center; border-top: 4px solid #e60000; border-bottom: 4px solid #b30000;' valign='middle')
												a(href='https://www.adma.com.au/iq/courses?utm_medium=Email&utm_source=IQ&utm_campaign=IQ19&utm_content=Button' name='Button CTA' style='color: #FFFFFF; text-decoration: none; font-weight: bold;' target='_blank' xt='SPCLICK') See all courses
						tr
							td.em_height(bgcolor='#FFFFFF' height='20' style='font-size:1px; line-height:1px;')
			td.em_width(width='20')  
// /button x1
