// course table
table(align='center', border='0', cellpadding='0', cellspacing='0', width='100%')
  tbody
    tr
      td(valign='top')
        table(align='center', border='0', cellpadding='0', cellspacing='0', width='100%')
          tbody
            tr
              td(valign='top')
                table(align='center', border='0', cellpadding='0', cellspacing='0', width='100%')
                  tbody
                    tr(bgcolor='#f1f1f1', height='45', style='text-align: center; color: rgb(73, 73, 73); text-transform: uppercase; line-height: 30px; font-family: Helvetica, Arial, sans-serif; font-size: 16px;')
                      td(align='left', style='padding-left: 10px;')
                        strong Upcoming Courses
                      td(align='center')
                        strong LOCATION
                      td(align='center')
                        strong Duration
                    tr(bgcolor='#f4f4f4')
                      td.tg-ufnn(height='35', style='padding-left: 10px;')
                        strong
                          a(href='https://www.adma.com.au/iq?utm_source=IQ&utm_campaign=IQS2FY19&utm_medium=SolusEDM', name='Privacy &amp; Marketing DEF', style='color: rgb(204, 0, 0); line-height: 14px; font-family: Helvetica, Arial, sans-serif; font-size: 12px;', target='_blank') Privacy &amp; Marketing Compliance
                      td(align='center', style='line-height: 14px; font-family: Helvetica, Arial, sans-serif; font-size: 12px;')
                        b MEL, PER, SYD &amp; ONLINE
                      td(align='center', style='line-height: 14px; font-family: Helvetica, Arial, sans-serif; font-size: 12px;')
                        b 1 day
                    tr
                      td.tg-ufnn(height='35', style='padding-left: 10px;')
                        strong
                          a(href='https://www.adma.com.au/iq?utm_source=IQ&utm_campaign=IQS2FY19&utm_medium=SolusEDM', name='Digital Copywriting Essentials DEF', style='color: rgb(204, 0, 0); line-height: 14px; font-family: Helvetica, Arial, sans-serif; font-size: 12px;', target='_blank') Digital Copywriting Essentials
                      td(align='center', style='line-height: 14px; font-family: Helvetica, Arial, sans-serif; font-size: 12px;')
                        b  MEL, SYD, PER &amp; BRI
                      td(align='center', style='line-height: 14px; font-family: Helvetica, Arial, sans-serif; font-size: 12px;')
                        b 1 day
                    tr(bgcolor='#f4f4f4')
                      td.tg-ufnn(height='35', style='padding-left: 10px;')
                        strong
                          a(href='https://www.adma.com.au/iq?utm_source=IQ&utm_campaign=IQS2FY19&utm_medium=SolusEDM', name='Digital Marketing Certificate DEF', style='color: rgb(204, 0, 0); line-height: 14px; font-family: Helvetica, Arial, sans-serif; font-size: 12px;', target='_blank') Digital Marketing Certificate
                      td(align='center', style='line-height: 14px; font-family: Helvetica, Arial, sans-serif; font-size: 12px;')
                        b SYD, MEL, BRI, PER &amp; ONLINE
                      td(align='center', style='line-height: 14px; font-family: Helvetica, Arial, sans-serif; font-size: 12px;')
                        b 10 weeks
                    tr
                      td.tg-ufnn(height='35', style='padding-left: 10px;')
                        strong
                          a(href='https://www.adma.com.au/iq?utm_source=IQ&utm_campaign=IQS2FY19&utm_medium=SolusEDM', name='Customer Journey Mapping def', style='color: rgb(204, 0, 0); line-height: 14px; font-family: Helvetica, Arial, sans-serif; font-size: 12px;', target='_blank') Customer Journey Mapping
                      td(align='center', style='line-height: 14px; font-family: Helvetica, Arial, sans-serif; font-size: 12px;')
                        b SYD, MEL, PER &amp; BRI
                      td(align='center', style='line-height: 14px; font-family: Helvetica, Arial, sans-serif; font-size: 12px;')
                        b 1 day
                    tr(bgcolor='#f4f4f4')
                      td.tg-ufnn(height='35', style='padding-left: 10px;')
                        strong
                          a(href='https://www.adma.com.au/iq?utm_source=IQ&utm_campaign=IQS2FY19&utm_medium=SolusEDM', name='Email Marketing def', style='color: rgb(204, 0, 0); line-height: 14px; font-family: Helvetica, Arial, sans-serif; font-size: 12px;', target='_blank') Email Marketing
                      td(align='center', style='line-height: 14px; font-family: Helvetica, Arial, sans-serif; font-size: 12px;')
                        b SYD, MEL &amp; ONLINE
                      td(align='center', style='line-height: 14px; font-family: Helvetica, Arial, sans-serif; font-size: 12px;')
                        b 1 day
                    tr
                      td.tg-ufnn(height='35', style='padding-left: 10px;')
                        strong
                          a(href='https://www.adma.com.au/iq?utm_source=IQ&utm_campaign=IQS2FY19&utm_medium=SolusEDM', name='Social Media Marketing Essentials DEF', style='color: rgb(204, 0, 0); line-height: 14px; font-family: Helvetica, Arial, sans-serif; font-size: 12px;', target='_blank') Social Media Marketing Essentials
                      td(align='center', style='line-height: 14px; font-family: Helvetica, Arial, sans-serif; font-size: 12px;')
                        b SYD, MEL &amp; ONLINE
                      td(align='center', style='line-height: 14px; font-family: Helvetica, Arial, sans-serif; font-size: 12px;')
                        b 1 day
                    tr(bgcolor='#f4f4f4')
                      td.tg-ufnn(height='35', style='padding-left: 10px;')
                        strong
                          a(href='https://www.adma.com.au/iq?utm_source=IQ&utm_campaign=IQS2FY19&utm_medium=SolusEDM', name='Content Marketing Strategy DEF', style='color: rgb(204, 0, 0); line-height: 14px; font-family: Helvetica, Arial, sans-serif; font-size: 12px;', target='_blank') Content Marketing Strategy
                      td(align='center', style='line-height: 14px; font-family: Helvetica, Arial, sans-serif; font-size: 12px;')
                        b PER, SYD, MEL, BRI &amp; ONLINE
                      td(align='center', style='line-height: 14px; font-family: Helvetica, Arial, sans-serif; font-size: 12px;')
                        b 1 day
                    tr
                      td.tg-ufnn(height='35', style='padding-left: 10px;')
                        strong
                          a(href='https://www.adma.com.au/iq?utm_source=IQ&utm_campaign=IQS2FY19&utm_medium=SolusEDM', name='Digital Marketing Essentials DEF', style='color: rgb(204, 0, 0); line-height: 14px; font-family: Helvetica, Arial, sans-serif; font-size: 12px;', target='_blank') Digital Marketing Essentials
                      td(align='center', style='line-height: 14px; font-family: Helvetica, Arial, sans-serif; font-size: 12px;')
                        b  BRI &amp; SYD
                      td(align='center', style='line-height: 14px; font-family: Helvetica, Arial, sans-serif; font-size: 12px;')
                        b 2 days
                    tr(bgcolor='#f4f4f4')
                      td.tg-ufnn(height='35', style='padding-left: 10px;')
                        strong
                          a(href='https://www.adma.com.au/iq?utm_source=IQ&utm_campaign=IQS2FY19&utm_medium=SolusEDM', name='Analytics Certificate DEF', style='color: rgb(204, 0, 0); line-height: 14px; font-family: Helvetica, Arial, sans-serif; font-size: 12px;', target='_blank') Analytics Certificate
                      td(align='center', style='line-height: 14px; font-family: Helvetica, Arial, sans-serif; font-size: 12px;')
                        b  ONLINE
                      td(align='center', style='line-height: 14px; font-family: Helvetica, Arial, sans-serif; font-size: 12px;')
                        b Available for 6 months
                    tr
                      td.tg-ufnn(height='35', style='padding-left: 10px;')
                        strong
                          a(href='https://www.adma.com.au/iq?utm_source=IQ&utm_campaign=IQS2FY19&utm_medium=SolusEDM', name='Content Marketing Certificate def', style='color: rgb(204, 0, 0); line-height: 14px; font-family: Helvetica, Arial, sans-serif; font-size: 12px;', target='_blank') Content Marketing Certificate
                      td(align='center', style='line-height: 14px; font-family: Helvetica, Arial, sans-serif; font-size: 12px;')
                        b ONLINE
                      td(align='center', style='line-height: 14px; font-family: Helvetica, Arial, sans-serif; font-size: 12px;')
                        b Available for 6 months
                    tr(bgcolor='#f4f4f4')
                      td.tg-ufnn(height='35', style='padding-left: 10px;')
                        strong
                          a(href='https://www.adma.com.au/iq?utm_source=IQ&utm_campaign=IQS2FY19&utm_medium=SolusEDM', name='Digital Marketing Certificate DEF', style='color: rgb(204, 0, 0); line-height: 14px; font-family: Helvetica, Arial, sans-serif; font-size: 12px;', target='_blank') Digital Marketing Certificate
                      td(align='center', style='line-height: 14px; font-family: Helvetica, Arial, sans-serif; font-size: 12px;')
                        b SYD, MEL, BRI, PER &amp; ONLINE
                      td(align='center', style='line-height: 14px; font-family: Helvetica, Arial, sans-serif; font-size: 12px;')
                        b 10 weeks
                    tr
                      td.tg-ufnn(height='35', style='padding-left: 10px;')
                        strong
                          a(href='https://www.adma.com.au/iq?utm_source=IQ&utm_campaign=IQS2FY19&utm_medium=SolusEDM', name='Customer Journey Mapping def', style='color: rgb(204, 0, 0); line-height: 14px; font-family: Helvetica, Arial, sans-serif; font-size: 12px;', target='_blank') Customer Journey Mapping
                      td(align='center', style='line-height: 14px; font-family: Helvetica, Arial, sans-serif; font-size: 12px;')
                        b SYD, MEL, PER &amp; BRI
                      td(align='center', style='line-height: 14px; font-family: Helvetica, Arial, sans-serif; font-size: 12px;')
                        b 1 day
                    tr(bgcolor='#f4f4f4')
                      td.tg-ufnn(height='35', style='padding-left: 10px;')
                        strong
                          a(href='https://www.adma.com.au/iq?utm_source=IQ&utm_campaign=IQS2FY19&utm_medium=SolusEDM', name='Email Marketing def', style='color: rgb(204, 0, 0); line-height: 14px; font-family: Helvetica, Arial, sans-serif; font-size: 12px;', target='_blank') Email Marketing
                      td(align='center', style='line-height: 14px; font-family: Helvetica, Arial, sans-serif; font-size: 12px;')
                        b SYD, MEL &amp; ONLINE
                      td(align='center', style='line-height: 14px; font-family: Helvetica, Arial, sans-serif; font-size: 12px;')
                        b 1 day
                    tr
                      td.tg-ufnn(height='35', style='padding-left: 10px;')
                        strong
                          a(href='https://www.adma.com.au/iq?utm_source=IQ&utm_campaign=IQS2FY19&utm_medium=SolusEDM', name='Social Media Marketing Essentials DEF', style='color: rgb(204, 0, 0); line-height: 14px; font-family: Helvetica, Arial, sans-serif; font-size: 12px;', target='_blank') Social Media Marketing Essentials
                      td(align='center', style='line-height: 14px; font-family: Helvetica, Arial, sans-serif; font-size: 12px;')
                        b SYD, MEL &amp; ONLINE
                      td(align='center', style='line-height: 14px; font-family: Helvetica, Arial, sans-serif; font-size: 12px;')
                        b 1 day
                    tr(bgcolor='#f4f4f4')
                      td.tg-ufnn(height='35', style='padding-left: 10px;')
                        strong
                          a(href='https://www.adma.com.au/iq?utm_source=IQ&utm_campaign=IQS2FY19&utm_medium=SolusEDM', name='Content Marketing Strategy DEF', style='color: rgb(204, 0, 0); line-height: 14px; font-family: Helvetica, Arial, sans-serif; font-size: 12px;', target='_blank') Content Marketing Strategy
                      td(align='center', style='line-height: 14px; font-family: Helvetica, Arial, sans-serif; font-size: 12px;')
                        b PER, SYD, MEL, BRI &amp; ONLINE
                      td(align='center', style='line-height: 14px; font-family: Helvetica, Arial, sans-serif; font-size: 12px;')
                        b 1 day
                    tr
                      td.tg-ufnn(height='35', style='padding-left: 10px;')
                        strong
                          a(href='https://www.adma.com.au/iq?utm_source=IQ&utm_campaign=IQS2FY19&utm_medium=SolusEDM', name='Digital Marketing Essentials DEF', style='color: rgb(204, 0, 0); line-height: 14px; font-family: Helvetica, Arial, sans-serif; font-size: 12px;', target='_blank') Digital Marketing Essentials
                      td(align='center', style='line-height: 14px; font-family: Helvetica, Arial, sans-serif; font-size: 12px;')
                        b  BRI &amp; SYD
                      td(align='center', style='line-height: 14px; font-family: Helvetica, Arial, sans-serif; font-size: 12px;')
                        b 2 days
                    tr(bgcolor='#f4f4f4')
                      td.tg-ufnn(height='35', style='padding-left: 10px;')
                        strong
                          a(href='https://www.adma.com.au/iq?utm_source=IQ&utm_campaign=IQS2FY19&utm_medium=SolusEDM', name='Analytics Certificate DEF', style='color: rgb(204, 0, 0); line-height: 14px; font-family: Helvetica, Arial, sans-serif; font-size: 12px;', target='_blank') Analytics Certificate
                      td(align='center', style='line-height: 14px; font-family: Helvetica, Arial, sans-serif; font-size: 12px;')
                        b  ONLINE
                      td(align='center', style='line-height: 14px; font-family: Helvetica, Arial, sans-serif; font-size: 12px;')
                        b Available for 6 months
                    tr
                      td.tg-ufnn(height='35', style='padding-left: 10px;')
                        strong
                          a(href='https://www.adma.com.au/iq?utm_source=IQ&utm_campaign=IQS2FY19&utm_medium=SolusEDM', name='Content Marketing Certificate def', style='color: rgb(204, 0, 0); line-height: 14px; font-family: Helvetica, Arial, sans-serif; font-size: 12px;', target='_blank') Content Marketing Certificate
                      td(align='center', style='line-height: 14px; font-family: Helvetica, Arial, sans-serif; font-size: 12px;')
                        b ONLINE
                      td(align='center', style='line-height: 14px; font-family: Helvetica, Arial, sans-serif; font-size: 12px;')
                        b Available for 6 months
// /course table