// feature right
table(align='center', border='0', cellpadding='0', cellspacing='0', width='100%')
	tbody
		tr
			td.em_height(bgcolor='#FFFFFF', height='10', style='font-size:1px; line-height:1px;')  
		tr
			td
				table.em_wrapper(align='right', border='0', cellpadding='0', cellspacing='0', width='290')
					tbody
						tr
							td.em_width(width='10')  
							td(align='center', valign='top')
								a(href='https://www.adma.com.au/global-forum?utm_source=ADMA&utm_medium=EDM&utm_campaign=GF19', name='Content_Image5', target='_blank', xt='SPCLICK')
									img(border='0', height='189', src='https://via.placeholder.com/269x189', width='269', xt='SPIMAGE')
							td.em_width(width='10')  
				table.em_wrapper(align='left', border='0', cellpadding='0', cellspacing='0', width='290')
					tbody
						tr
							td.em_width(width='10')  
							td(valign='top')
								table(align='center', border='0', cellpadding='0', cellspacing='0', width='100%')
									tbody
										tr
											td.em_pad_top(style='text-align: left; color: #000000; line-height: 22px; font-family: Helvetica, Arial, sans-serif; font-size: 18px;') Donec congue fringilla ipsum vel hendrerit.
										tr
											td(height='2', style='line-height: 1px; font-size: 1px;')
										tr
											td(style='text-align: left; color: #000000; line-height: 21px; font-family: Helvetica, Arial, sans-serif; font-size: 14px;')
												| Mauris at sem et nunc aliquam vehicula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
										tr
											td(style='text-align: left; color: #CC0000; line-height: 21px; font-family: Helvetica, Arial, sans-serif; font-size: 14px;')
												a(href='https://www.adma.com.au/global-forum?utm_source=ADMA&utm_medium=EDM&utm_campaign=GF19', name='Content_Link5', style='text-decoration: none;', target='_blank', xt='SPCLICK') Read more »
							td.em_width(width='10')  
		tr
			td.em_height(bgcolor='#FFFFFF', height='10', style='font-size:1px; line-height:1px; border-bottom: 1px solid #fff;')  
		tr
			td.em_height(bgcolor='#FFFFFF', height='10', style='font-size:1px; line-height:1px;')  
// /feature right
