// banner
table(align='center' border='0' cellpadding='0' cellspacing='0' width='100%')
  tbody
    tr
      td(align='center')
<<<<<<< HEAD:pug/adma/modules/banner.pug
        a#Hyperlink_20170116_151918415(href='https://www.adma.com.au/events/2019/global-forum/buy-tickets?utm_source=ADMA&utm_medium=EDM&utm_campaign=Monthly' name='Ticket CTA Early bird' target='_blank' xt='SPCLICK')
          img(alt='Global Forum 2019' border='0' height='330' src='https://via.placeholder.com/600x350' style='display: block; height: auto;width:100%;max-width:600px;' title='Global Forum 2019' width='600' xt='SPIMAGE')
// /banner
=======
        a#Hyperlink_20170116_151918415(href='https://www.adma.com.au/events/2019/global-forum/buy-tickets?utm_medium=Email&utm_source=ADMA&utm_campaign=Monthly&content=Banner' name='Ticket CTA Early bird' target='_blank' xt='SPCLICK')
          img(alt='ADMA' border='0' height='330' src='https://via.placeholder.com/600x350' style='display: block; height: auto;width:100%;max-width:600px;' title='ADMA' width='600')
// /full image
>>>>>>> 88cc915af5da2fef7d05b813438305010334af0d:pug/adma/modules/full-image.pug
