extends base

append content
	include modules/full-image
	+gutters()
		include modules/intro
		include modules/button-1
		include modules/heading
		include modules/spacer-v

		include modules/text-2--cta
		include modules/text-2--cta

		include modules/button-2
		include modules/spacer-v