extends base

append content
	+gutters()
		include modules/intro
		include modules/heading

		include modules/content-2
		include modules/content-2
		include modules/content-2
		include modules/button-1
		include modules/feature-left
		include modules/testimonial
