doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
	head
		meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
		meta(content='telephone=no', name='format-detection')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title %%MAILING_ID%%
		style(type='text/css').
			body{-webkit-text-size-adjust:100%!important;-ms-text-size-adjust:100%!important;-webkit-font-smoothing:antialiased!important;}
			img{border:0!important;outline:none!important;}
			a{color: #cc0000; }
			table{border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0;}
			td{border-collapse:collapse;mso-line-height-rule:exactly;}
			a,span{mso-line-height-rule:exactly;}
			.ExternalClass *{line-height:100%;}
			span.MsoHyperlink{mso-style-priority:99;color:inherit;}
			span.MsoHyperlinkFollowed{mso-style-priority:99;color:inherit;}
			.em_white a{text-decoration:none!important;color:#ffffff!important;}
			span.preheader 	{display: none !important; font-size: 1px; color: #363636;}
			@media only screen and (min-width:480px) and (max-width:600px){
			table[class=em_wrapper]{width:100%!important;}
			td[class=em_w250]{width:300px!important;}
			img[class=em_full_img]{width:100%!important;height:auto!important;max-width:none!important;}
			td[class=em_hide],table[class=em_hide],span[class=em_hide],br[class=em_hide]{display:none!important;}
			td[class=em_width]{width:10px!important;}
			td[class=em_txt]{font-size:20px!important;line-height:23px!important;}
			td[class=em_pad_top]{padding-top:20px!important;}
			td[class=em_height]{height:20px!important;}
			td[class=em_height1]{height:10px!important;}
			td[class=em_align_cent]{text-align:center!important;}
			td[class=em_left]{text-align:left!important; font-size:24px!important; line-height:26px!important;}
			td[class=em_align_cent1]{text-align:center!important;font-size:11px!important;line-height:14px!important;}
			td[class=em_pad]{padding-left:10px!important;}
			td[class=em_side]{padding-left:10px!important;padding-right:10px!important;}
			div[class=hide_disktop]{display:table!important;float:none!important;width:100%!important;overflow:visible!important;height:auto!important;}
			table[class=em_tbl_312]{width:312px!important;}
			}
			@media only screen and (max-width:480px){
			table[class=em_wrapper]{width:100%!important;}
			td[class=em_w250]{width:250px!important;}
			td[class=em_hide],table[class=em_hide],span[class=em_hide],br[class=em_hide]{display:none!important;}
			td[class=em_txt]{font-size:20px!important;line-height:23px!important;}
			img[class=em_full_img]{width:100%!important;height:auto!important;max-width:none!important;}
			td[class=em_width]{width:10px!important;}
			td[class=em_height]{height:20px!important;}
			td[class=em_height1]{height:10px!important;}
			td[class=em_pad_top]{padding-top:20px!important;}
			td[class=em_align_cent]{text-align:center!important;}
			td[class=em_left]{text-align:left!important; font-size:24px!important; line-height:26px!important;}
			td[class=em_align_cent1]{text-align:center!important;font-size:11px!important;line-height:14px!important;}
			td[class=em_pad]{padding-left:10px!important;}
			td[class=em_side]{padding-left:10px!important;padding-right:10px!important;}
			div[class=hide_disktop]{display:table!important;float:none!important;width:100%!important;overflow:visible!important;height:auto!important;}
			img[class=em_w140]{width:80px!important;height:auto!important;}
			img[class=em_w150]{width:110px!important;height:auto!important;}
			img[class=em_w40]{width:40px!important;height:auto!important;}
			table[class=em_tbl_312]{width:312px!important;}
			.dateheader {width:80% !important}
			.date {width:20% !important}
			}
	body(bgcolor='#f6f6f6', style='margin: 0px; padding: 0px;')
		span#uniqueIdForPreviewFrameScrollSpan
		table(align='center', bgcolor='#f6f6f6', border='0', cellpadding='0', cellspacing='0', width='100%')
			// ==Header Starts Here==
			tbody
				tr
					td
						span.preheader(style='color: rgb(54, 54, 54); font-size: 1px;') All the highlights from ADMA Data Day now available On-Demand.
				tr
					td(align='center', valign='top')
						table(align='center', bgcolor='#ffffff', border='0', cellpadding='0', cellspacing='0', width='100%')
							tbody
								tr
									// Left side
									td.em_hide(height='50', valign='top')
										table(align='left', bgcolor='#f6f6f6', border='0', cellpadding='0', cellspacing='0', width='100%')
											tbody
												tr
													td(height='50')
														img(alt='', border='0', contentid='5ac949b4-16a23e21e10-c2a8af96738cc20073a7254c07aedd78', height='1', name='7325376_spacer.gif', spname='7325376_spacer.gif', src='7325376_spacer.gif', style='display: block;', width='1', xt='SPIMAGE')
									// Center
									td(width='600')
										table.em_wrapper(align='center', bgcolor='#ffffff', border='0', cellpadding='0', cellspacing='0', height='50', style='table-layout: fixed;', width='600')
											tbody
												tr
													td(align='center', valign='top')
														table(align='center', bgcolor='#ffffff', border='0', cellpadding='0', cellspacing='0', width='100%')
															tbody
																tr
																	td.em_side(height='50', style='text-align: center; color: rgb(153, 153, 153); font-family: Helvetica, Arial, sans-serif; font-size: 11px;', valign='middle')
																		| If you cannot see this email, please 
																		a(href='#SPCLICKTOVIEW', name='SPCLICKTOVIEW', style='color: rgb(153, 153, 153); text-decoration: underline;', target='_blank', xt='SPCLICKTOVIEW') click to view it online
									// Right side
									td.em_hide(height='50', valign='top')
										table(align='left', border='0', cellpadding='0', cellspacing='0', width='100%')
											tbody
												tr
													td(bgcolor='#f6f6f6', height='50')
														img(alt='', border='0', contentid='5ac949b4-16a23e21e10-c2a8af96738cc20073a7254c07aedd78', height='1', name='7325376_spacer.gif', spname='7325376_spacer.gif', src='7325376_spacer.gif', style='display: block;', width='1', xt='SPIMAGE')
				// // header ends here==
				// ==Body Starts Here==
				tr
					td(align='center')
						table.em_wrapper(align='center', border='0', cellpadding='0', cellspacing='0', style='table-layout: fixed;', width='600')
							tbody
								tr
									td.em_hide(bgcolor='#ffffff', height='1', style='line-height: 0px; font-size: 0px;')
										img(alt='', border='0', contentid='5ac949b4-16a23e21e10-c2a8af96738cc20073a7254c07aedd78', height='1', name='7325376_spacer.gif', spname='7325376_spacer.gif', src='7325376_spacer.gif', style='width: 600px; display: block; min-width: 600px;', xt='SPIMAGE')
								tr
									td(align='center', valign='top')
										table(align='center', border='0', cellpadding='0', cellspacing='0', width='100%')
											// banner image starts here
											tbody
												tr
													td
														table(align='center', bgcolor='#ffffff', border='0', cellpadding='0', cellspacing='0', width='100%')
															tbody
																tr
																	td(align='left', valign='top')
																		a(href='https://www.adma.com.au/', name='logo_link', target='_blank', xt='SPCLICK')
																			img.em_full_img(alt='ADMA', border='0', contentid='5ac949b4-16a23e21e34-c2a8af96738cc20073a7254c07aedd78', height='75', name='ADMA-4002.jpg', spname='ADMA-4002.jpg', src='ADMA-4002.jpg', title='ADMA', width='400', xt='SPIMAGE')
																	td
																		table(align='center', border='0', cellpadding='0', cellspacing='0', width='100%')
																			tbody
																				tr
																					td.em_height(bgcolor='#ffffff', height='10', style='line-height: 1px; font-size: 1px;')
																						img(alt='', border='0', contentid='5ac949b4-16a23e21e10-c2a8af96738cc20073a7254c07aedd78', height='1', name='7325376_spacer.gif', spname='7325376_spacer.gif', src='7325376_spacer.gif', style='display: block;', width='1', xt='SPIMAGE')
																				tr
																					td(style='color: rgb(153, 153, 153); line-height: 14px; font-family: Helvetica, Arial, sans-serif; font-size: 10px;')
																						| NEWSLETTER
																						br
																						| APRIL 2019
												tr
													td.em_height(bgcolor='#ffffff', height='10', style='line-height: 1px; font-size: 1px; border-top-color: rgb(182, 182, 182); border-top-width: 1px; border-top-style: solid;')
														img(alt='', border='0', contentid='5ac949b4-16a23e21e10-c2a8af96738cc20073a7254c07aedd78', height='1', name='7325376_spacer.gif', spname='7325376_spacer.gif', src='7325376_spacer.gif', style='display: block;', width='1', xt='SPIMAGE')
												// Full Content Section starts here
												tr
													td(valign='top')
														table(align='center', bgcolor='#ffffff', border='0', cellpadding='0', cellspacing='0', width='100%')
															tbody
																tr
																	td.em_width(width='20')
																		img(alt='', border='0', contentid='5ac949b4-16a23e21e10-c2a8af96738cc20073a7254c07aedd78', height='1', name='7325376_spacer.gif', spname='7325376_spacer.gif', src='7325376_spacer.gif', style='display: block;', width='1', xt='SPIMAGE')
																	td(valign='top')
																		// body
																		block content
																		// /body
																	td.em_width(width='20')
																		img(alt='', border='0', contentid='5ac949b4-16a23e21e10-c2a8af96738cc20073a7254c07aedd78', height='1', name='7325376_spacer.gif', spname='7325376_spacer.gif', src='7325376_spacer.gif', style='display: block;', width='1', xt='SPIMAGE')
												// // Full Content section ends here
												tr
													td(valign='top')
														table(align='center', bgcolor='#ffffff', border='0', cellpadding='0', cellspacing='0', width='100%')
															tbody
																tr
																	td
																		img.em_full_img(alt='Partners', contentid='5ac949b4-16a23e21e4d-c2a8af96738cc20073a7254c07aedd78', name='FY19_ADMA-Partners_2103194.jpg', spname='FY19_ADMA-Partners_2103194.jpg', src='FY19_ADMA-Partners_2103194.jpg', style='display: block;', title='Partners', xt='SPIMAGE')
												// // Thanks to our sponsors section ends here
												// // Body Ends Here
												// ===Footer Starts Here===
												tr
													td(align='center', valign='top')
														table(align='center', bgcolor='#363636', border='0', cellpadding='0', cellspacing='0', width='100%')
															tbody
																tr
																	td(bgcolor='#363636', height='106')
																		img(alt='', border='0', contentid='5ac949b4-16a23e21e10-c2a8af96738cc20073a7254c07aedd78', height='1', name='7325376_spacer.gif', spname='7325376_spacer.gif', src='7325376_spacer.gif', style='display: block;', width='1', xt='SPIMAGE')
																	td(width='600')
																		table.em_wrapper(align='center', border='0', cellpadding='0', cellspacing='0', style='table-layout: fixed;', width='600')
																			tbody
																				tr
																					td.em_hide(bgcolor='#363636', height='1', style='line-height: 0px; font-size: 0px;')
																						img(alt='', border='0', contentid='5ac949b4-16a23e21e10-c2a8af96738cc20073a7254c07aedd78', height='1', name='7325376_spacer.gif', spname='7325376_spacer.gif', src='7325376_spacer.gif', style='width: 600px; display: block; min-width: 600px;', xt='SPIMAGE')
																				tr
																					td(align='center', valign='top')
																						table(border='0', cellpadding='0', cellspacing='0', width='100%')
																							tbody
																								tr
																									td.em_height(height='26', style='line-height: 1px; font-size: 1px;')
																										img(alt='', border='0', contentid='5ac949b4-16a23e21e10-c2a8af96738cc20073a7254c07aedd78', height='1', name='7325376_spacer.gif', spname='7325376_spacer.gif', src='7325376_spacer.gif', style='display: block;', width='1', xt='SPIMAGE')
																								tr
																									td(valign='top')
																										table.em_tbl_312(align='center', border='0', cellpadding='0', cellspacing='0', width='100%')
																											tbody
																												tr
																													td(valign='top')
																														table.em_wrapper(align='left', border='0', cellpadding='0', cellspacing='0', width='450')
																															tbody
																																tr
																																	td.em_white(style='text-align: left; color: rgb(255, 255, 255); line-height: 13px; font-family: Helvetica, Arial, sans-serif; font-size: 10px;')
																																		| AADL trading as ADMA. Level 6 50 Carrington Street, Sydney NSW 2000. ABN: 34 002 909 800. This email was sent to %%email%%. Click 
																																		a(href='http://www.pages01.net/adma/ADMAPreference/unsubscribe.html/', name='www_pages01_net_adma_ADMAPrefe', style='color: rgb(255, 255, 255);', xt='SPCLICK') here
																																		|	if you prefer not to receive emails from ADMA Australia. © Copyright 2019 ADMA Australia. All Rights Reserved.
																														table.em_wrapper(align='right', border='0', cellpadding='0', cellspacing='0', width='97')
																															tbody
																																tr
																																	td.em_pad_top(align='left', valign='top')
																																		a(href='https://www.adma.com.au/', name='_6', target='_blank', xt='SPCLICK')
																																			img(alt='ADMA', border='0', contentid='5ac949b4-16a23e21e1e-c2a8af96738cc20073a7254c07aedd78', height='25', name='AADL_ADMA_Logo_LockUp-NoTag_White4.png', spname='AADL_ADMA_Logo_LockUp-NoTag_White4.png', src='AADL_ADMA_Logo_LockUp-NoTag_White4.png', style='display: block;', title='ADMA', width='110', xt='SPIMAGE')
																								tr
																									td.em_height(height='20', style='line-height: 1px; font-size: 1px;')
																										img(alt='', border='0', contentid='5ac949b4-16a23e21e10-c2a8af96738cc20073a7254c07aedd78', height='1', name='7325376_spacer.gif', spname='7325376_spacer.gif', src='7325376_spacer.gif', style='display: block;', width='1', xt='SPIMAGE')
																								tr
																									td(align='left', valign='top')
																										table.em_wrapper(align='left', border='0', cellpadding='0', cellspacing='0', width='312')
																											tbody
																												tr
																													td(align='center', valign='top')
																														table(align='center', border='0', cellpadding='0', cellspacing='0', width='180')
																															tbody
																																tr
																																	td(align='center', valign='top', width='47')
																																		a(href='http://www.facebook.com/adma.com.au', name='www_facebook_com_adma_com_au', target='_blank', xt='SPCLICK')
																																			img(alt='facebook', border='0', height='47', src='https://adma-public-assets.s3-ap-southeast-2.amazonaws.com/edm/adma/icon_facebook.jpg', style='display:block;', width='47')

																																	td.em_width(width='13') &nbsp;&nbsp;
																																	td(align='center', valign='top', width='47')
																																		a(href='http://www.twitter.com/adma', name='www_twitter_com_adma', target='_blank', xt='SPCLICK')
																																			img(alt='twitter', border='0', height='47', src='https://adma-public-assets.s3-ap-southeast-2.amazonaws.com/edm/adma/icon_twitter.jpg', style='display:block;', width='47')

																																	td.em_width(width='13') &nbsp;&nbsp;
																																	td(align='center', valign='top', width='47')
																																		a(href='https://www.youtube.com/channel/UCP8TUs7qz8wxAnNyLH3bfpQ', name='www_youtube_com_channel_UCP8TU', target='_blank', xt='SPCLICK')
																																			img(alt='you tube', border='0', height='47', src='https://adma-public-assets.s3-ap-southeast-2.amazonaws.com/edm/adma/icon_you_tube.jpg', style='display:block;', width='47')

																																	td.em_width(width='13') &nbsp;&nbsp;
																																	td(align='center', valign='top', width='47')
																																		a(href='https://www.linkedin.com/company/adma', name='www_linkedin_com_company_adma', target='_blank', xt='SPCLICK')
																																			img(alt='linkedin', border='0', height='47', src='https://adma-public-assets.s3-ap-southeast-2.amazonaws.com/edm/adma/icon_linkedin.jpg', style='display:block;', width='47')
																								tr
																									td.em_height(height='26', style='line-height: 1px; font-size: 1px;')
																										img(alt='', border='0', contentid='5ac949b4-16a23e21e10-c2a8af96738cc20073a7254c07aedd78', height='1', name='7325376_spacer.gif', spname='7325376_spacer.gif', src='7325376_spacer.gif', style='display: block;', width='1', xt='SPIMAGE')
																	td(bgcolor='#363636', height='106')
																		img(alt='', border='0', contentid='5ac949b4-16a23e21e10-c2a8af96738cc20073a7254c07aedd78', height='1', name='7325376_spacer.gif', spname='7325376_spacer.gif', src='7325376_spacer.gif', style='display: block;', width='1', xt='SPIMAGE')
												// // Footer Ends Here
												// Red Line Starts Here
												tr
													td(align='center', bgcolor='#e01d21')
														table.em_wrapper(align='center', border='0', cellpadding='0', cellspacing='0', style='table-layout: fixed;', width='600')
															tbody
																tr
																	td.em_hide(bgcolor='#e01d21', height='1', style='line-height: 0px; font-size: 0px;')
																		img(alt='', border='0', contentid='5ac949b4-16a23e21e10-c2a8af96738cc20073a7254c07aedd78', height='1', name='7325376_spacer.gif', spname='7325376_spacer.gif', src='7325376_spacer.gif', style='width: 600px; display: block; min-width: 600px;', xt='SPIMAGE')
																tr
																	td(align='center', valign='top')
																		table(align='center', border='0', cellpadding='0', cellspacing='0', width='100%')
																			tbody
																				tr
																					td(height='2', style='line-height: 0px; font-size: 0px;')
																						img(alt='', border='0', contentid='5ac949b4-16a23e21e10-c2a8af96738cc20073a7254c07aedd78', height='1', name='7325376_spacer.gif', spname='7325376_spacer.gif', src='7325376_spacer.gif', style='display: block;', width='1', xt='SPIMAGE')
												// // Red Line Ends Here
												// Copy Rights Starts Here
												tr
													td(align='center', bgcolor='#010101')
														table.em_wrapper(align='center', border='0', cellpadding='0', cellspacing='0', style='table-layout: fixed;', width='600')
															tbody
																tr
																	td.em_hide(bgcolor='#010101', height='1', style='line-height: 0px; font-size: 0px;')
																		img(alt='', border='0', contentid='5ac949b4-16a23e21e10-c2a8af96738cc20073a7254c07aedd78', height='1', name='7325376_spacer.gif', spname='7325376_spacer.gif', src='7325376_spacer.gif', style='width: 600px; display: block; min-width: 600px;', xt='SPIMAGE')
																tr
																	td(align='center', valign='top')
																		table(align='center', border='0', cellpadding='0', cellspacing='0', width='100%')
																			tbody
																				tr
																					td.em_side(height='50', style='text-align: left; color: rgb(111, 111, 111); font-family: Helvetica, Arial, sans-serif; font-size: 11px;', valign='middle') © ADMA Australia. All rights reserved.
												// //Copy Rights Ends Here