extends base

append content
	+gutters()
		include modules/intro
		include modules/content-2
		include modules/content-2
		include modules/content-left
		include modules/heading
		include modules/banner
		include modules/intro
		include modules/heading
		include modules/banner
		include modules/intro
		include modules/button-1
