doctype html
head
	meta(content='text/html; charset=utf-8' http-equiv='Content-Type')
	meta(content='telephone=no' name='format-detection')
	meta(content='width=device-width, initial-scale=1.0' name='viewport')
	meta(content='IE=edge' http-equiv='X-UA-Compatible')
	title Global Forum 2019
	style(type='text/css').
		body{-webkit-text-size-adjust:100%!important;-ms-text-size-adjust:100%!important;-webkit-font-smoothing:antialiased!important;}
		img{border:0!important;outline:none!important;}
		table{border-collapse:collapse;mso-table-lspace:0;mso-table-rspace:0;}
		td{border-collapse:collapse;mso-line-height-rule:exactly;}
		a,span{mso-line-height-rule:exactly;}
		a {color:#CC0000}
		body		{width: 100%; margin:0; padding:0; -webkit-font-smoothing: antialiased;font-family: Arial, Helvetica, sans-serif}
		.ExternalClass *{line-height:100%;}
		span.MsoHyperlink{mso-style-priority:99;color:inherit;}
		span.MsoHyperlinkFollowed{mso-style-priority:99;color:inherit;}
		.em_white a{text-decoration:none!important;color:#ffffff!important;}
		span.preheader		 {display: none !important; font-size: 1px; color: #363636;}
		@media only screen and (min-width:480px) and (max-width:600px){
		table[class=em_wrapper]{width:100%!important;}
		td[class=em_w250]{width:300px!important;}
		img[class=em_full_img]{width:100%!important;height:auto!important;max-width:none!important;}
		td[class=em_hide],table[class=em_hide],span[class=em_hide],br[class=em_hide]{display:none!important;}
		td[class=em_width]{width:10px!important;}
		td[class=em_txt]{font-size:20px!important;line-height:23px!important;}
		td[class=em_pad_top]{padding-top:20px!important;}
		td[class=em_height]{height:20px!important;}
		td[class=em_height1]{height:10px!important;}
		td[class=em_align_cent]{text-align:center!important;}
		td[class=em_left]{text-align:left!important; font-size:24px!important; line-height:26px!important;}
		td[class=em_align_cent1]{text-align:center!important;font-size:11px!important;line-height:14px!important;}
		td[class=em_pad]{padding-left:10px!important;}
		td[class=em_side]{padding-left:10px!important;padding-right:10px!important;}
		div[class=hide_disktop]{display:table!important;float:none!important;width:100%!important;overflow:visible!important;height:auto!important;}
		table[class=em_tbl_312]{width:312px!important;}
		}
		@media only screen and (max-width:480px){
		table[class=em_wrapper]{width:100%!important;}
		td[class=em_w250]{width:250px!important;}
		td[class=em_hide],table[class=em_hide],span[class=em_hide],br[class=em_hide]{display:none!important;}
		td[class=em_txt]{font-size:20px!important;line-height:23px!important;}
		img[class=em_full_img]{width:100%!important;height:auto!important;max-width:none!important;}
		td[class=em_width]{width:10px!important;}
		td[class=em_height]{height:20px!important;}
		td[class=em_height1]{height:10px!important;}
		td[class=em_pad_top]{padding-top:20px!important;}
		td[class=em_align_cent]{text-align:center!important;}
		td[class=em_left]{text-align:left!important; font-size:24px!important; line-height:26px!important;}
		td[class=em_align_cent1]{text-align:center!important;font-size:11px!important;line-height:14px!important;}
		td[class=em_pad]{padding-left:10px!important;}
		td[class=em_side]{padding-left:10px!important;padding-right:10px!important;}
		div[class=hide_disktop]{display:table!important;float:none!important;width:100%!important;overflow:visible!important;height:auto!important;}
		img[class=em_w140]{width:80px!important;height:auto!important;}
		img[class=em_w150]{width:110px!important;height:auto!important;}
		img[class=em_w40]{width:40px!important;height:auto!important;}
		table[class=em_tbl_312]{width:312px!important;}
		.rate-banner {width:93% !important; height: auto;}
		}
table(align='center' bgcolor='#FFFFFF' border='0' cellpadding='0' cellspacing='0' width='100%')
	// ==Header Starts Here==
	tbody
		tr
			td
				span.preheader(style='font-size: 1px;line-height: 1px;color: #FFFFFF;display: none;') Preheader
		// // header ends here==
		// ==Body Starts Here==
		tr
			td(align='center' bgcolor='#FFFFFF')
				table.em_wrapper(align='center' border='0' cellpadding='0' cellspacing='0' style='table-layout:fixed;' width='600')
					tbody
						tr
							td
								include modules/banner
						// Full Content Section starts here
						tr
							td(align='center' valign='top')
								table(align='center' border='0' cellpadding='0' cellspacing='0' width='100%')
									tbody
										// insert modules below, wrapped in <tr><td>MODULE</td></tr>
										tr
											td
												block content

										// insert modules above
										// vertical spacer
										tr
											td.em_height(bgcolor='#FFFFFF' height='20' style='font-size:1px; line-height:1px;')
										tr
											td
												include modules/sponsors
										tr
											td.em_height(bgcolor='#FFFFFF' height='20' style='font-size:1px; line-height:1px;')
										tr
											td(align='center' bgcolor='#494949')
												include modules/footer
						// Full Content Section ends here
