extends base

append content
	include modules/full-image
	include modules/intro
	include modules/button-1
	include modules/heading-alt
	include modules/full-image
	include modules/heading-alt
	include modules/intro
	include modules/feature-left