extends base
	
append content
	include modules/intro
	include modules/heading-alt
	+gutters()
		include modules/content-2
	include modules/full-image
	include modules/button-1
	include modules/heading-alt
	include modules/trio-block
	include modules/button-2
	include modules/feature-left
	include modules/feature-right