// full image
table(align='center' border='0' cellpadding='0' cellspacing='0' width='100%')
  tbody
    tr
      td(align='center')
        a#Hyperlink_20170116_151918415(href='https://www.dtcollective.org.au?utm_source=CM&utm_medium=Email&utm_campaign=Newsletter&utm_content=banner' name='DT Collective' target='_blank')
          img(alt='Global Forum 2019' border='0' height='330' src='https://via.placeholder.com/600x350' style='display: block; height: auto;width:100%;max-width:600px;' title='DT Collective' width='600')
// /full image
