// content x2
table(align='center', border='0', cellpadding='0', cellspacing='0', width='100%')
  tbody
    tr
      td(valign='top')
        table.em_wrapper(align='left', border='0', cellpadding='0', cellspacing='0', width='269')
          tbody
            tr
              td(valign='top')
                table(align='center', border='0', cellpadding='0', cellspacing='0', width='100%')
                  tbody
                    tr
                      td(align='center', valign='top')
                        a(href='https://www.dtcollective.org.au?utm_source=CM&utm_medium=SolusEDM&utm_campaign=Newsletter', name='Content_1_Image', target='_blank', xt='SPCLICK')
                          img(border='0', height='190', src='https://via.placeholder.com/269x190.jpg', style='display:block;', width='269')
                    tr
                      td.em_height(height='15', style='font-size:1px; line-height:1px;')
                    tr
                      td
                        a(href='', name='Anchor', style='font-family:Helvetica, Arial, sans-serif; font-size:18px;line-height:22px;color:#000000; text-align:left;text-decoration:none;', xt='SPNOTRACK') Cras nec eleifend turpis
                    tr
                      td.em_height(height='7', style='font-size:1px; line-height:1px;')
                    tr
                      td(style='font-family:Helvetica, Arial, sans-serif; font-size:13px;line-height:21px;color:#000000; text-align:left;')
                        | Nulla scelerisque sapien elit, vitae ultricies magna iaculis eu. Morbi interdum magna eu tortor scelerisque, quis dignissim urna egestas. Aliquam ac sollicitudin quam. Fusce erat elit, volutpat vitae lorem et, congue lacinia risus. 
                    tr
                      td(style='font-family:Helvetica, Arial, sans-serif; font-size:13px;line-height:21px;color:#553278; text-align:left;')
                        a(href='https://www.dtcollective.org.au?utm_source=CM&utm_medium=SolusEDM&utm_campaign=Newsletter', name='Content_1_CTA', style='text-decoration:none;color:#553278;', target='_blank', xt='SPCLICK')
                          | Find out more&nbsp;&raquo;

        table.em_wrapper(align='right', border='0', cellpadding='0', cellspacing='0', width='269')
          tbody
            tr
              td.em_pad_top(valign='top')
                table(align='center', border='0', cellpadding='0', cellspacing='0', width='100%')
                  tbody
                    tr
                      td(align='center', valign='top')
                        a(href='https://www.adma.com.au/iq?utm_source=IQ&utm_campaign=IQS2FY19&utm_medium=SolusEDM', target='_blank', xt='SPCLICK')
                          img(border='0', width='269', height='190', src='https://via.placeholder.com/269x190.jpg', style='display:block;')
                    tr
                      td.em_height(height='15', style='font-size:1px; line-height:1px;')
                    tr
                      td
                        a(href='', name='Anchor_2', style='font-family:Helvetica, Arial, sans-serif; font-size:18px;line-height:22px;color:#000000; text-align:left; text-decoration:none; text-decoration:none;', xt='SPNOTRACK') Sed vel nisl diam
                    tr
                      td.em_height(height='7', style='font-size:1px; line-height:1px;')
                    tr
                      td(style='font-family:Helvetica, Arial, sans-serif; font-size:13px;line-height:21px;color:#000000; text-align:left;')
                        | Maecenas ornare, nisi at aliquam dictum, metus odio auctor nulla, vitae interdum augue nisl vitae sem.
                    tr
                      td(style='font-family:Helvetica, Arial, sans-serif; font-size:13px;line-height:21px;color:#553278; text-align:left;')
                        a(href='https://www.adma.com.au/iq/certificate/analytics-certificate?utm_source=IQ&utm_campaign=IQS2FY19&utm_medium=SolusEDM', name='Content_2_CTA', style='text-decoration:none;color:#553278;', target='_blank', xt='SPCLICK')
                          | Find out more&nbsp;&raquo;
    tr
      td.em_height(height='25', style='font-size:1px; line-height:1px;')
// /content x2